In [26]:
import gspread

import numpy as np 
import pandas as pd 
import sklearn

from sklearn.feature_extraction.text import TfidfVectorizer

from helper import *

### User profiles

In [13]:
# this is the input data from Glide
dummy_data = pythonanywhere_api_call("Kevin Tran; University of Amsterdam; Data Science; Python, \
    SQL, Machine Learning, DevOps Engineering")

# preprocess data
user_data = dummy_data.split(';')

# create df
user_df = pd.DataFrame(data=[user_data], columns=['Name', 'University', 'Major', 'Skills'])

### Job profiles

In [18]:
# connect to spreadsheets using json credentials
gc = gspread.service_account(filename='google_kevin.json')

# open the worksheets and select the first; we don't have other worksheets
sh = gc.open_by_key('1T2If_xR-fhQw6hFejDxdPLLnz1J0lDstTKZ1FJVNwQI') # extract key from https
worksheet = sh.sheet1

# fetch data and return a Pandas DataFrame
results = worksheet.get_all_records()
job_df = pd.DataFrame(results).set_index(job_df.columns[0])

### Matching

In [27]:
job_df['Preferred skills']

ðŸ”’ Row ID
CMfRhIqfRACNElBh6krumQ                   Python, SQL, Pyspark, Hadoop, AWS
xBXKnk3aR56eJaT8YcgWqw                                              R, SQL
axFUZ2GJQYe3R7vcnfJFZw                 Python, SQL, Pyspark, Hadoop, Azure
cwTr3r-EQlO4NnVtxL1tKQ                              Power BI, Tableau, SQL
ljtVllltRr6jKalBSZ7nvw                                R, Power BI, Tableau
xYa4qEjGQuSVU.-JvlSeTw     Python, SQL, Pyspark, Kubernetes, Docker, Azure
a.fUCFw6bTPWHTdpP1q5KiQ                                Python, SQL, Pandas
Name: Preferred skills, dtype: object

In [16]:
user_df

,Name,University,Major,Skills
0,Kevin Tran,University of Amsterdam,Data Science,"Python, SQL, Machine Learning, DevOps Eng..."

In [58]:
vectorizer = TfidfVectorizer()

vec = vectorizer.fit_transform(['Python, SQL, Pyspark, Hadoop, AWS'])

In [56]:
index_words = vectorizer.get_feature_names_out()
tfidf = pd.DataFrame(vec[0].T.todense(), index=index_words, columns=['TF-IDF'])

tfidf_df = tfidf.sort_values('TF-IDF', ascending=False)

In [57]:
tfidf_df

           TF-IDF
python   0.707107
aws      0.353553
hadoop   0.353553
pyspark  0.353553
sql      0.353553